<aside class="w-64 " aria-label="Sidebar">
   <div class="overflow-y-auto bg-green-800 py-4 px-3 rounded text-white">
      <ul class="space-y-2">
         <!-- <li class="border rounded">
            <a routerLink="/admin/grade-level"
               class="flex items-center p-2 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon>dashboard</mat-icon>
               <span class="ml-3">Dashboard</span>
            </a>
         </li> -->
         <li class="border rounded">
            <a routerLink="/admin/users"
               class="flex items-center p-2 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon><span class="material-symbols-outlined">
                     supervised_user_circle
                  </span></mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
            </a>
         </li>
         <li class="border rounded">
            <a routerLink="/admin/student"
               class="flex items-center p-2 pl-8 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon><span class="material-symbols-outlined text-gray-400">
                     supervised_user_circle
                  </span></mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">Student List</span>
            </a>
         </li>
         <li class="border rounded">
            <a routerLink="/admin/teacher"
               class="flex items-center p-2 pl-8 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon><span class="material-symbols-outlined text-gray-400">
                     supervised_user_circle
                  </span></mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">Teacher List</span>
            </a>
         </li>
         <!-- <li class="border rounded">
            <a routerLink="/admin/subjects"
               class="flex items-center p-2 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon>file_upload</mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">Subjects</span>
            </a>
         </li>

         <li class="border rounded">
            <a routerLink="/admin/new-subjects"
               class="flex items-center p-2 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon>file_upload</mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">New Subjects</span>
            </a>
         </li> -->
         <li class="border rounded">
            <a routerLink="/admin/curriculum"
               class="flex items-center p-2 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon>apps</mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">Curriculum</span>
            </a>
         </li>
         <!-- <li class="border rounded">
            <a routerLink="/admin/grade-level"
               class="flex items-center p-2 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon>data_thresholding</mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">Grade Level</span>
            </a>
         </li> -->
         <li class="border rounded">
            <a routerLink="/admin/school-year"
               class="flex items-center p-2 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon>groups</mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">School Year</span>
            </a>
         </li>
         <li class="border rounded">
            <a routerLink="/admin/room-assign"
               class="flex items-center p-2 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon fill>lan</mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">Classroom</span>
            </a>
         </li>

         <li class="border rounded">
            <a routerLink="/admin/schedule"
               class="flex items-center p-2 text-base font-normal rounded-lg dark:text-white hover:bg-green-400 dark:hover:bg-gray-700">
               <mat-icon fill>schedule</mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">Schedule</span>
            </a>
            
         </li>
         <li class="border rounded">
            <a routerLink="/admin/schedule-template-list"
               class="flex items-center p-2 pl-8 bg-green-700 text-base font-normal  dark:text-white hover:bg-green-300 dark:hover:bg-gray-700">
               <mat-icon><span class="material-symbols-outlined text-white">
                     timer
                  </span></mat-icon>
               <span class="flex-1 ml-3 whitespace-nowrap">Schedule Template</span>
            </a>
         </li>
         
      </ul>
   </div>
</aside>