
<aside class="w-64" aria-label="Sidebar">
  <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
     <ul class="space-y-2">
        <li>
          <a routerLink="/student/dashboard" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
           <mat-icon>lan</mat-icon>
           <span class="flex-1 ml-3 whitespace-nowrap">My Class</span>
          </a>
        </li>
        <li>
           <a routerLink="/student/subjects" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <mat-icon>groups</mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Subjects</span>
           </a>
        </li>
     </ul>
  </div>
</aside>
