<app-admin-head></app-admin-head>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
  <div class="h-full bg-green-800"><app-admin-nav></app-admin-nav>
  </div>
</mat-drawer>
  <mat-drawer-content>
    <div class="m-12">
      <h1>Grade Level Module</h1>
      <div class="my-4">
        <button (click)="openDialog()" mat-button class="bg-blue-500 text-neutral-50 text-md"><mat-icon>add</mat-icon> New</button>
      </div>
      <div *ngIf="dataSource!==null">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="gradeId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element;let i = index"> <small>{{i + 1}}</small> </td>
          </ng-container>
          <ng-container matColumnDef="gradeLevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade </th>
            <td mat-cell *matCellDef="let element"> {{element.gradeLevelName}} </td>
          </ng-container>

          <ng-container matColumnDef="gradeLevelDesc">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.gradeLevelDesc}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
